<div class="float-left">
  <p *ngIf="!isEdit && !isGlobalEdit">{{user?.name}}</p>
  <input *ngIf="isEdit || isGlobalEdit" type="text" id="editUser" name="editUser" class="form-control" [(ngModel)]="user.name" />
</div>
<div class="float-right" *ngIf="!isEdit && !isGlobalEdit">
  <button class="btn btn-secondary mr-3" (click)="edit()" id="edit-button">Edit</button>
  <button class="btn btn-danger" (click)="delete()" id="delete-button">Delete</button>
</div>
<div class="float-right" *ngIf="isEdit && !isGlobalEdit">
  <button class="btn btn-primary" (click)="save()" id="save-button">Save</button>
</div>
